<!DOCTYPE HTML>
<!--
	Urban by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Hoang Nguyen</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="/css/main.css" />
	</head>
	<body>

		<!-- Header -->
			<header id="header" class="alt">
				<div class="logo"><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Hoang Nguyen</a></div>
				<a href="#menu">Menu</a>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="index.html">Home</a></li>
					<!--<li><a href="generic.html">Work Experience</a></li>
					<li><a href="elements.html">About</a></li> -->
				</ul>
			</nav>

		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<header>
						<h1>Hoang Nguyen</h1>
						<p>Web developer based out of Philadelphia.</p>
					</header>
					<a href="#main" class="button big scrolly">Work Experience</a>
					<a href="#bottom" class="button big scrolly">Projects</a>
					<br>
					<br>
					<br>
					<div>
						<ul class="icons">
							<div>
								<li><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="icon fa-envelope"><span class="label">Email</span></a></li>
							</div>
							<div>
								hn374@drexel.edu
							</div>
							<br>
							<div>
								<li><a href="https://github.com/hn374" class="icon fa-github"><span class="label">Github</span></a></li>
							</div>
							<div>
								github.com/hn374
							</div>
						</ul>
					</div>
				</div>
			</section>

		<!-- Main -->
			<div id="main">
				<!-- Section -->
					<section class="wrapper style1">
						<div class="inner">
							<div class="flex flex-2">
								<div class="col col2">
									<h2>Comcast</h2>
									<h4>April 2019 - September 2019</h4>
									<p>Comcast is an American telecommunications conglomerate headquartered in Philadelphia, Pennsylvania. </p>
									<p>I am working on their Xfinity Mobile team as a front-end developer using HTML, CSS, JavaScript/TypeScript, and Angular. This is a 6 month internship that is part of my co-op program at Drexel University.</p>
								</div>
								<div class="col col1 first">
									<div class="image round fit">
										<a href="https://www.xfinity.com/" class="link"><img src="images/comcast.jpg" alt="" /></a>
									</div>
								</div>
							</div>
						</div>
					</section>

				<!-- Section -->
					<section class="wrapper style2">
						<div class="inner">
							<!-- 2 Columns -->
								<div class="flex flex-2">
									<div class="col col1">
										<div class="image round fit">
											<a href="https://www.lce.com/" class="link"><img src="images/lce.jpeg" alt="" /></a>
										</div>
									</div>
									<div class="col col2">
										<h2>Life Cycle Engineering</h2>
										<h4>June 2018 - April 2019</h4>
										<p>Life Cycle Engineering is a contracting company that uses engineering logic to solve business problems for industry, public entities and the military.</p>
										<p>I worked as a full-stack web developer on one of Life Cycle Engineering's internal websites. I used HTML, CSS, Javascript, SQL, and PHP. The technologies I worked with also include Microsoft Access, MySQL, Jira, Sublime Text and Bitbucket.</p>
									</div>
								</div>
						</div>
					</section>

				<!-- Section -->
					<section class="wrapper style1">
						<div class="inner">
							<div class="flex flex-2">
								<div class="col col2">
									<h2>Uptalk</h2>
									<h4>September 2017 - September 2018</h4>
									<p>Uptalk is an app that helped sales people keep track of customer's information without having to manually type everything down. </p>
									<p>I worked on front-end development for the Uptalk website using HTML, CSS and Javascript.</p>
								</div>
								<div class="col col1 first">
									<div>
										<img src="images/uptalk.jpg" alt="" />
									</div>
								</div>
							</div>
						</div>
					</section>

				<!-- Section -->
					<section class="wrapper style2">
						<div class="inner">
							<!-- 2 Columns -->
								<div class="flex flex-2">
									<div class="col col1">
										<div>
											<a href="http://www.empathicdesignandtech.org" class="link"><img style="width: 250px; height: 250px;" src="images/drexel.jpg" alt="" /></a>
										</div>
									</div>
									<div class="col col2">
										<h2>Empathic Research Lab</h2>
										<h4>September 2017 - June 2018</h4>
										<p>The Empathic Research Lab is a human-computer interaction research group at the University of Michigan (previously at Drexel University). They study behavioral health and social issues and then apply technology to affect change.</p>
										<p>I worked for them as an iOS software developer and research assistant on their Lilypad application. My responsibilities included updating, testing, debugging, and developing new features for the Lilypad app using Xcode and Swift. I also managed the Lilypad database using Sequel Pro. </p>
									</div>
								</div>
						</div>
					</section>

				<!-- Section -->
					<!-- <section class="wrapper style1">
						<div class="inner">
							<div class="flex flex-2">
								<div class="col col2">
									<h2>NAVSEA</h2>
									<h4>Summers of 2016 and 2017</h4>
									<p>NAVSEA designs, builds, delivers, and maintains ships and systems on time and on cost for the U.S. Navy as a part of the Department of Defense. </p>
									<p>I worked as an engineering intern for both the summers of 2016 and 2017 for NAVSEA Philadelphia, shadowing a software development team and learning how they operate.</p>
								</div>
								<div class="col col1 first">
									<div class="image round fit">
										<a href="generic.html" class="link"><img src="images/pic02.jpg" alt="" /></a>
									</div>
								</div>
							</div>
						</div>
					</section> -->

				<!-- Bottom Section -->
					<section class="wrapper style1">
						<div id="bottom" class="inner">
							<header class="align-center">
								<h2>Projects</h2>
								<p>These are my past and current projects.</p>
							</header>
							<div class="flex flex-3">
								<div class="col align-center">
									<center>
										<div class="image round fit pictures">
											<img src="images/timer.jpg" alt="" />
										</div>
										<h4>Pomodoro Timer</h4>
										<p>Keep track of the time you spend working!</p>
										<p>Made using HTML, CSS, JavaScript, Node, and React. </p>
										<a href="https://github.com/hn374/pomodoro-timer" class="button">Learn More</a>
									</center>
								</div>
								<div class="col align-center">
									<center>
										<div class="image round fit pictures">
											<img src="images/smash2.jpg" alt="" />
										</div>
										<h4>Smash Bros Character Quiz</h4>
										<p>Take a quiz to find out which Smash Bros Ultimate character best fits your play style!</p>
										<p>Made using HTML, CSS, JavaScript, SQL, MySQL, Node, Express and jQuery. </p>
										<a href="https://github.com/butlerdotexe/SmashCharacters" class="button">Learn More</a>
									</center>
								</div>
								<div class="col align-center">
									<div class="image round fit pictures">
										<img src="https://image.shutterstock.com/image-vector/smiley-happy-birthday-greeting-card-260nw-636331628.jpg" alt="" />
									</div>
									<p>Enter your birthday to find out what other celebrities were born on the same day as you!</p>
									<p>Made using React, HTML, CSS, JavaScript, JSX, Node, and Express. </p>
									<a href="https://github.com/dgeorge10/celeb-birthdays" class="button">Learn More</a> 
								</div> 
							</div>
						</div>
					</section>

			</div>

		<!-- Footer -->
			<footer id="footer">
				<div class="copyright">
					<p>&copy; Untitled. All rights reserved. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com">Unsplash</a>.</p>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>